Your order created at <%= @order.time %>
<table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
  <thead>
  <tr>
    <th>Your information</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Name</td>
    <td></td>
    <td><%= @order.name %></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td></td>
    <td><%= @order.phone %></td>
  </tr>
  <tr>
    <td>Address</td>
    <td></td>
    <td><%= @order.address %></td>
  </tr>
  </tbody>
</table>
<%= link_to 'Back', menu_path, class: 'btn btn-secondary-outline' %>