<%= link_to 'New', new_food_items_path, class: 'btn btn-success-outline' %>

<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Description</th>
    <th>Section</th>
    <th>Price</th>
    <th>Thumbnail</th>
  </tr>
  </thead>
  <tbody>
  <% @food_items.each do |food_item| %>
      <tr>
        <th scope="row"><%= food_item.id %></th>
        <td><%= food_item.name %></td>
        <td><%= food_item.description %></td>
        <td><%= food_item.section %></td>
        <td><%= food_item.price %></td>
        <td><%= image_tag food_item.refactor_thumbnail %></td>
      </tr>
  <% end %>
  </tbody>
</table>