<br>
<div class="row">
  <div class="col-md-6">
    <div class="btn-group" role="group" aria-label="Basic example">
      <% Section.all.each do |section| %>
          <%= link_to section, menu_path(section: section), class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6" align="right">
    <div class="dropdown pull-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <%= link_to 'Alphabetical', menu_path(sort: 'name'), class: 'dropdown-item' %>
        <%= link_to 'Price low to high', menu_path(sort: 'price-asc'), class: 'dropdown-item' %>
        <%= link_to 'Price high to low', menu_path(sort: 'price-desc'), class: 'dropdown-item' %>
      </div>
    </div>
  </div>
</div>
<br>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Section</th>
    <th>Price</th>
    <th>Thumbnail</th>
  </tr>
  </thead>
  <tbody>
  <% @sorted.each do |food_item| %>
      <tr>
        <td><%= link_to food_item.name, food_item %></td>
        <td><%= link_to food_item.section, menu_path(section: food_item.section) %></td>
        <td><span class="label label-pill label-info"><%= food_item.price_currency %>
        </span></td>
        <td><%= image_tag food_item.refactor_thumbnail, size: '200x150' %></td>
      </tr>
  <% end %>
  </tbody>
</table>